In [2]:
create database RestaurantDB

: Msg 1801, Level 16, State 3, Line 1
Database 'RestaurantDB' already exists. Choose a different database name.

In [2]:
use RestaurantDB

In [21]:
drop table if exists ChefInventory;
drop table if exists OrderChef;
drop table if exists MenuOrder;
drop table if exists Payment;
drop table if exists Employee;
drop table if exists CustomerTable;
drop table if exists Orders;
drop table if exists Tables;
drop table if exists Customer;
drop table if exists Menu;
drop table if exists Inventory;
drop table if exists Supplier;
drop table if exists Chef;

In [22]:
create table Menu (
    menuID int primary key,
    menuName varchar(255),
    price int,
    category varchar(255)
);


create table Customer (
    customerID int primary key,
    name varchar(255),
    age int
);

create table Tables (
    tableID int primary key,
    capacity int,
    status varchar(255)
);

create table CustomerTable (
    tableID int,
    customerID int,
    primary key (tableID, customerID),
    foreign key (tableID) references Tables(tableID),
    foreign key (customerID) references Customer(customerID)
);

create table Orders (
    orderID int primary key,
    orderDateTime datetime,
    orderDay varchar(255),
    menuStatus varchar(255),
    customerID int,
    foreign key (customerID) references Customer(customerID)
);

create table MenuOrder (
    menuID int,
    orderID int,
    primary key (menuID, orderID),
    foreign key (menuID) references Menu(menuID),
    foreign key (orderID) references Orders(orderID)
);

create table Payment (
    paymentID int primary key,
    orderID int unique,
    amount int,
    paymentMethod varchar(255),
    paymentDateTime datetime,
    foreign key (orderID) references Orders(orderID)
);

create table Employee (
    employeeID int primary key,
    name varchar(255),
    role varchar(255),
    shift varchar(255),
    salary int,
    currentTables int,
    orderID int,
    foreign key (orderID) references Orders(orderID)
);

create table Chef (
    chefID int primary key,
    name varchar(255),
    salary int
);

create table OrderChef (
    orderID int,
    chefID int,
    primary key (orderID, chefID),
    foreign key (orderID) references Orders(orderID),
    foreign key (chefID) references Chef(chefID)
);

create table Supplier (
    supplierID int primary key,
    name varchar(255),
    contactInfo varchar(255)
);

create table Inventory (
    itemID int primary key,
    name varchar(255),
    quantity int,
    supplierID1 int,
    supplierID2 int,
    lastRestockDate datetime,
    foreign key (supplierID1) references supplier(supplierID),
    foreign key (supplierID2) references supplier(supplierID)
);

create table ChefInventory (
    chefID int,  
    itemID int,
    primary key (chefID, itemID),
    foreign key (chefID) references Chef(chefID),
    foreign key (itemID) references Inventory(itemID)
);

In [34]:
delete from ChefInventory;
delete from OrderChef;
delete from MenuOrder;
delete from Payment;
delete from Employee;
delete from CustomerTable;
delete from Orders;
delete from Tables;
delete from Customer;
delete from Menu;
delete from Inventory;
delete from Supplier;
delete from Chef;

**Test insertion**

In [35]:
insert into Menu (menuID, menuName, price, category) 
values
(1, 'Salmon sushi', 150, 'Nigiri'),
(2, 'Shrimp sushi', 250, 'Nigiri'),
(3, 'Salmon', 200, 'Sashimi');

insert into Customer (customerID, name, age) 
values
(1, 'John Doe', 30),
(2, 'Jane Smith', 25),
(3, 'Jame Dane', 24);

insert into Tables (tableID, capacity, status) 
values
(1, 4, 'Available'),
(2, 2, 'Occupied');

insert into CustomerTable (tableID, customerID) 
values
(1, 1),
(2, 2),
(1, 3);

insert into Orders (orderID, orderDateTime, orderDay, menuStatus, customerID) 
values
(101, '2025-03-29 12:30:00', 'Saturday', 'Preparing', 1),
(102, '2025-03-29 13:15:00', 'Saturday', 'Completed', 2);

insert into MenuOrder (menuID, orderID) 
values
(1, 101),  
(2, 101),  
(3, 102);  

insert into Payment (paymentID, orderID, amount, paymentMethod, paymentDateTime) 
values
(1, 101, 400, 'Credit Card', '2025-03-29 12:45:00'),
(2, 102, 200, 'Cash', '2025-03-29 13:30:00');

insert into Employee (employeeID, name, role, shift, salary, currentTables, orderID) 
values
(1, 'Alice', 'Waiter', 'Morning', 15000, 2, 101),
(2, 'Bob', 'Waiter', 'Afternoon', 16000, 1, 102);

insert into Chef (chefID, name, salary) 
values
(1, 'Gordon', 50000),
(2, 'Jamie', 45000);

insert into OrderChef (orderID, chefID) 
values
(101, 1), 
(102, 2);  

insert into Supplier (supplierID, name, contactInfo) 
values
(1, 'Fresh Foods Inc.', '123-456-7890'),
(2, 'Best Ingredients Ltd.', '987-654-3210');

insert into Inventory (itemID, name, quantity, supplierID1, supplierID2, lastRestockDate) 
values
(1, 'Rice', 100, 1, 2, '2025-03-25'),
(2, 'Seaweed', 50, 2, NULL, '2025-03-26'),
(3, 'Salmon', 70, 1, NULL, '2025-03-27');

insert into ChefInventory (chefID, itemID) 
values
(1, 1),  
(2, 2),  
(2, 3);

In [36]:
select * from Menu;
select * from Customer;
select * from Tables;
select * from CustomerTable;
select * from Orders;
select * from MenuOrder;
select * from Payment;
select * from Employee;
select * from Chef;
select * from OrderChef;
select * from Supplier;
select * from Inventory;
select * from ChefInventory;

menuID,menuName,price,category
1,Salmon sushi,150,Nigiri
2,Shrimp sushi,250,Nigiri
3,Salmon,200,Sashimi

customerID,name,age
1,John Doe,30
2,Jane Smith,25
3,Jame Dane,24

tableID,capacity,status
1,4,Available
2,2,Occupied

tableID,customerID
1,1
1,3
2,2

orderID,orderDateTime,orderDay,menuStatus,customerID
101,2025-03-29 12:30:00.000,Saturday,Preparing,1
102,2025-03-29 13:15:00.000,Saturday,Completed,2

menuID,orderID
1,101
2,101
3,102

paymentID,orderID,amount,paymentMethod,paymentDateTime
1,101,400,Credit Card,2025-03-29 12:45:00.000
2,102,200,Cash,2025-03-29 13:30:00.000

employeeID,name,role,shift,salary,currentTables,orderID
1,Alice,Waiter,Morning,15000,2,101
2,Bob,Waiter,Afternoon,16000,1,102

chefID,name,salary
1,Gordon,50000
2,Jamie,45000

orderID,chefID
101,1
102,2

supplierID,name,contactInfo
1,Fresh Foods Inc.,123-456-7890
2,Best Ingredients Ltd.,987-654-3210

itemID,name,quantity,supplierID1,supplierID2,lastRestockDate
1,Rice,100,1,2,2025-03-25 00:00:00.000
2,Seaweed,50,2,NULL,2025-03-26 00:00:00.000
3,Salmon,70,1,NULL,2025-03-27 00:00:00.000

chefID,itemID
1,1
2,2
2,3

In [3]:
select * from Customer

customerID,name,age
1,John Doe,30
2,Jane Smith,25
3,Jame Dane,24
4,Daniel Mason,45